In [35]:
import pandas as pd

In [36]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=("x","y","z"),index=("a","b","c"))

In [37]:
df.index.tolist()

['a', 'b', 'c']

In [38]:
df.head()

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9

In [39]:
df.tail(2)

   x  y  z
b  4  5  6
c  7  8  9

In [40]:
df.info()
df.describe()

<class 'pandas.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       3 non-null      int64
 1   y       3 non-null      int64
 2   z       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

         x    y    z
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [41]:
df.shape

(3, 3)

In [42]:
df.size

9