In [1]:
import pandas as pd

In [2]:
coffee=pd.read_csv('./warmup-data/coffee.csv')

In [3]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [4]:
coffee.tail(5)

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [5]:
coffee.sample(10)

          Day Coffee Type  Units Sold
13     Sunday       Latte          35
3     Tuesday       Latte          20
9      Friday       Latte          35
4   Wednesday    Espresso          35
8      Friday    Espresso          45
5   Wednesday       Latte          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
12     Sunday    Espresso          45
6    Thursday    Espresso          40

In [6]:
coffee.loc[[2,3,5]]

         Day Coffee Type  Units Sold
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
5  Wednesday       Latte          25

In [7]:
coffee.loc[5:]

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [8]:
coffee.loc[0:8]

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45

In [9]:
coffee.loc[0:5,["Day"]]

         Day
0     Monday
1     Monday
2    Tuesday
3    Tuesday
4  Wednesday
5  Wednesday

In [10]:
coffee.loc[:,["Day","Units Sold"]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [11]:
coffee.iloc[0:6,[0,2]]

         Day  Units Sold
0     Monday          25
1     Monday          15
2    Tuesday          30
3    Tuesday          20
4  Wednesday          35
5  Wednesday          25

In [12]:
coffee.index=coffee.Day

In [13]:
coffee.head()

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35

In [14]:
coffee.loc["Monday":"Tuesday",['Units Sold']]

         Units Sold
Day
Monday           25
Monday           15
Tuesday          30
Tuesday          20

In [15]:
coffee

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25
Thursday    Thursday    Espresso          40
Thursday    Thursday       Latte          30
Friday        Friday    Espresso          45
Friday        Friday       Latte          35
Saturday    Saturday    Espresso          45
Saturday    Saturday       Latte          35
Sunday        Sunday    Espresso          45
Sunday        Sunday       Latte          35

In [16]:
coffee=pd.read_csv('./warmup-data/coffee.csv')

In [17]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [18]:
coffee.loc[1,"Units Sold"]=10

In [19]:
coffee.head(3)

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          10
2  Tuesday    Espresso          30

In [20]:
coffee.loc[1:3,"Units Sold"]=30

In [21]:
coffee.head(4)

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          30
2  Tuesday    Espresso          30
3  Tuesday       Latte          30

In [22]:
coffee.sort_values(["Units Sold", "Day"], ascending=[0,1])

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
4   Wednesday    Espresso          35
1      Monday       Latte          30
7    Thursday       Latte          30
2     Tuesday    Espresso          30
3     Tuesday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25

In [23]:
for index,row in coffee.iterrows():
    print(index)
    print(row['Units Sold'])
    print("\n\n\n\n\n")

0
25






1
30






2
30






3
30






4
35






5
25






6
40






7
30






8
45






9
35






10
45






11
35






12
45






13
35